.header {
    margin-bottom: 85px;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 24px 51px 22px;

    border-bottom: 1px solid #CCCCCC;
}
.list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 57px;
       -moz-column-gap: 57px;
            column-gap: 57px;
    list-style: none;
}
.wrapper__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 51px;
       -moz-column-gap: 51px;
            column-gap: 51px;
}
.list__header_item a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}
.buttons__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
}
.buttons__header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;

}
.buttons__header a:first-child {
    border: 1px solid #00000080;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 35px;
}
.buttons__header a:last-child {
    color: #FFFFFF;
    background-color: #FF6336;
    padding: 0 22px;
}