/*-------------------Info-------------------*/
.info__wrapper {
    border-bottom: 1px solid #EFEFEF;
}
.logo>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    padding-top: 18px;
}
.logo>img {
    padding: 20px 20px 20px 0;
}
.tel-btn__btn_wrapper {
    padding-top: 40px;
}
.tel-btn__btn {
    font-size: 14px;
    line-height: 16px;

    border: 2px solid #F13C6E;
    border-radius: 40px;

    padding: 10px 55px;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.tel-btn__btn:hover {
    border: 2px solid #FFFFFF;
    background: #F13C6E;
    color: #FFFFFF;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.tel-btn a {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 51px 40px 0 32px;
}
.menu__list {
    list-style: none;
    padding: 26px 0 30px 0;
    padding: 0;
}
.menu__list>li {
    display: inline-block;
    padding: 30px 21px 30px 20px;
}
.menu__list>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000000;

    -webkit-transition: all linear;
    -o-transition: all linear;
    transition: all linear;

}
.menu__list>li>a:hover {
    -webkit-text-decoration: 2px underline rgb(50, 93, 235);
            text-decoration: 2px underline rgb(50, 93, 235);
    -webkit-transition: all linear;
    -o-transition: all linear;
    transition: all linear;
}
/*banner*/
.banner {
    background-image: url('../image/banner.png');
    background-position: center;
}
.banner__wrapper {
    padding-bottom: 203px;
}
.banner__wrapper h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: 0;
    padding: 192px 0 38px 0;
}
.banner__wrapper p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 36px;
}
.banner__wrapper a {
    line-height: 16px;
    letter-spacing: 0.05em;

    border-radius: 40px;
    padding: 10px 63px;
}
/*Home*/
.home h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    padding: 80px 0 23px 0;
}
.row {
    margin: 0 -15px;
    padding-bottom: 85px;
}
.card__wrapper {
    padding: 15px;
}
.card {
    padding: 25px 30px;
}
.card__img {
    height: 166px;
    width: 125px;
    overflow: hidden;
    margin: auto;
}
.card__img img {
    display: block;
    width: 100%;
    height: auto;
}
.card__text {
    max-height: 75px;
    overflow: hidden;
}
.card__text p {
    padding: 20px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #333333;
}
.card__price {
    max-height: 30px;
    overflow: hidden;
}
.card__price p {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
}
.card__link {
    padding: 22px 0px 8px 29px;
}
.card__link a {
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;

    padding: 9px 51px 9px 53px;
    background-color: #F13C6E;
    border-radius: 30px;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.card__link>a:hover {
    background-color: #af0232;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
/*home__info*/
.home__info {
    margin: 0 -15px;
    padding-bottom: 100px;
}
.subscribe__wrapper {
    padding: 0 15px;
}
.subscribe {
    padding: 35px 45px 35px 40px;
}
.subscribe__info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    padding-bottom: 20px;
}
.subscribe__info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 25px;
}
.subscribe__info>input {
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 8px 34px 8px 23px;
}
.subscribe__info>input:focus {
    outline: 2px solid rgb(70, 70, 234);
}
.subscribe__info>::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    color: #C4C4C4;
}
.subscribe__img {
    padding: 19px 0 0 10px;
}
.our-shop__wrapper {
    padding: 0 15px;
}
.our-shops {
    padding: 35px 45px 42px 40px;
}
.our-shops__info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.our-shops__info p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 34px;
}
.our-shops__info a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    border-radius: 30px;
    padding: 8px 53px 9px 49px;
}
.our-shops__img {
    padding-top: 20px;
}
/*store-map*/
.group {
    padding: 33px 60px;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}
.group img {
    width: 100%;
    max-height: 49px;
}
/*viewed*/
.viewed>h2 {
    padding: 78px 0 22px;
}
.viewed>.row {
    padding-bottom: 63px;
}
/*Popular-categories*/
.popular h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    color: #000000;
    padding: 62px 0 22px;
}
.h3__wrapper::after {
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
}
.popular-categories__wrapper {
    margin: 0 -15px;
    padding-bottom: 40px;
}
.popular-categories__wrapper::after {
    border-bottom: 1px solid #EFEFEF;
    width: 100%;
}
.popular-categories {
    padding: 0 15px;
}
.popular-categories__list {
    padding: 26px 0 50px;
}
.popular-categories__list li {
    list-style: none;
}
.popular-categories__list a {
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #828282;

    -webkit-transition: all linear;
    -o-transition: all linear;
    transition: all linear;
}
.popular-categories__list a:hover {
    -webkit-text-decoration: 2px underline rgb(50, 93, 235);
            text-decoration: 2px underline rgb(50, 93, 235);
    -webkit-transition: all linear;
    -o-transition: all linear;
    transition: all linear;
}
.social-network__wrapper{
    padding-bottom: 40px;
}
.social-network {
    margin: 0 -8px;
    padding-top: 6px;
}
.social-network a {
    padding: 10px;
    border: 2px solid #F13C6E;
    border-radius: 100%;
    margin: 0 8px;
}
.tel-btn-2 a {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 0px 36px 0 32px;
}