/*-------------------Info-------------------*/
.info__wrapper {
    border-bottom: 1px solid #EFEFEF;
}
.logo>h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;

    margin: 21px 0 40px 0;

    color: #F13C6E;
}
.logo>img {
    margin-right: 20px;
}
.tel-btn {
    margin-top: 20px;
}
.tel-btn__btn {
    font-size: 14px;
    line-height: 16px;

    border: 2px solid #F13C6E;
    border-radius: 40px;

    padding: 10px 53px 9px 53px;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.tel-btn__btn:hover {
    border: 2px solid #FFFFFF;
    background: #F13C6E;

    color: #FFFFFF;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.tel-btn a {
    font-size: 16px;
    line-height: 19px;

    margin-right: 40px;

    color: #000000;
}
.menu__list {
    list-style: none;
    margin: 26px 0 30px 0;
}
.menu__list>li {
    display: inline-block;
    margin-right: 40px;
}
.menu__list>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000000;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;

}
.menu__list>li>a:hover {
    -webkit-text-decoration: 2px underline rgb(50, 93, 235);
            text-decoration: 2px underline rgb(50, 93, 235);
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
/*banner*/
.banner {
    background-image: url('../image/banner.png');
    background-position: center;
}
.banner__wrapper {
    padding-bottom: 205px;
}
.banner__wrapper h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;

    padding: 192px 0 4px 0;
}
.banner__wrapper p {
    max-width: 255px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 35px;
}
.banner__wrapper a {
    line-height: 16px;
    letter-spacing: 0.05em;

    border-radius: 40px;

    padding: 10px 65px;
}
/*Home*/
.home__wrapper>h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    padding: 80px 0 37px 0;
}
/*Home__cadr*/
.card__wrapper {
    margin-right: -2.5%;
}
.card {
    display: inline-block;
    max-width: 23%;
    font-size: 16px;

    margin-right: 2.5%;
    background-color: #fff;

    padding: 0 1px 10px 0;
}
.card__img {
    padding: 26px 65px 9px;
}
.card__text>p:nth-of-type(1) {
    max-width: 219px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    color: #333333;

    padding: 6px 0 0 34px;
}
.card__text>p:nth-of-type(2) {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: center;

    color: #000000;

    padding-top: 15px;
}
.card__link {
    padding: 21px 0 23px 60px;
}
.card__link a {
    text-decoration: none;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;

    color: #fff;

    padding: 11px 55px 8px;

    background-color: #F13C6E;
    border-radius: 30px;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.card__link>a:hover {
    background-color: #af0232;
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
/*home__info*/
.home__info {
    padding: 100px 0;
}
.subscribe {
    padding: 35px 41px;
}
.subscribe__info {
    margin-right: 90px;
}
.subscribe__info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    padding-bottom: 20px;
}
.subscribe__info p {
    max-width: 140px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    padding-bottom: 25px;
}
.subscribe__info>input {
    border-radius: 30px;
    padding: 8px 34px 8px 23px;
}
.subscribe__info>::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    color: #C4C4C4;
}
.our-shops {
    padding: 35px 41px 45px 41px;
    width: 48.64%;
}
.our-shops__info {
    margin-right: 50px;
}
.our-shops__info h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.our-shops__info p {
    max-width: 130px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    margin-bottom: 35px;
}
.our-shops__info a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    padding: 7px 50px 7px 50px;

    border-radius: 30px;
}
/*store-map*/
.store-map a {
    display: block;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
}
/*viewed*/
.viewed>h2 {
    padding: 84px 0 36px;
}
.viewed>.card__wrapper {
    padding-bottom: 80px;
}
/*Popular-categories*/
.popular h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;

    color: #000000;
    padding: 62px 0 22px;

    border-bottom: 1px solid #EFEFEF;
}
.popular-categories__wrapper {
    margin-right: -3%;
}
.popular-categories {
    width: 22%;
    margin-right: 3%;
}
.popular-categories__list {
    padding: 26px 0 70px;
}
.popular-categories__list li {
    list-style: none;
}
.popular-categories__list a {
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #828282;

    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.popular-categories__list a:hover {
    -webkit-text-decoration: 2px underline rgb(50, 93, 235);
            text-decoration: 2px underline rgb(50, 93, 235);
    -webkit-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.social-network__wrapper{
    padding-bottom: 40px;
}
.social-network a {
    border: 2px solid #F13C6E;
    border-radius: 50%;
    margin-right: 17px;
}
.social-network>a:nth-of-type(1) {
    padding: 13px 11px 9px 8px;
}
.social-network>a:nth-of-type(2) {
    padding: 14px 17px 8px 12px;
}
.social-network>a:nth-of-type(3) {
    padding: 15px 10px 8px 11px;
}
.social-network img {
    padding-top: 26px;
}