@media (max-width:1280px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .header img {
        position: static;
    }
    .menu {
        column-gap: 60px;
        padding: 25px 0 26px 0;
        justify-content: flex-end;
        align-items: center;
    }
    /*----------------------------------первый блок---------------------------------------*/
    .wrapper__background {
        background-size: contain;
        background-position: left;
        background-repeat: repeat-x;
    }
    .opportunities__wrapper {
        padding: 50px 0px 50px 0px;
    }
        /*----------------------------------второй блок---------------------------------------*/
    .electronics__card__img img {
        object-fit: cover;
        width: 100%;
    }
    .electronics__card__title {
        left: 40px!important;
    }
    .electronics__card__title h2 {
        font-size: 1rem;
    }
    .electronics__card__description {
        left: 40px!important;
    }
    .electronics__card__description p {
        font-size: 0.65rem;
        text-align: left;
    }
    .electronics__card__link {
        left: 40px!important;
    }
    .electronics__card__link a {
        font-size: 0.6rem;
    }
    /*----------------------------------третий блок---------------------------------------*/
    .electronics img {
        object-fit: cover;
        width: 100%;
    }
    .video-calls__wrapper-left img {
        object-fit: cover;
        width: 100%;
    }
    /*----------------------------------4 блок---------------------------------------*/
    .story__wrapper {
        background-size: contain;
    }
    .story__wrapper_content {
        margin: 0px 40px 0px;
        padding-bottom: 35px;
    }
    .border-before {
        padding-top: 174px;
    }
}




@media (max-width:1024px) {
    html {
        font-size: 18px;
    }
    .menu ul {
        column-gap: 25px;
    }
    .menu {
        column-gap: 40px;
    }
        /*----------------------------------первый блок---------------------------------------*/
    .wrapper__background {
        background-position: top;
    }
    .opportunities__wrapper {
        padding: 0 0px 50px 0px;
        width: 50%;
    }
    .opportunities h1 {
        margin-top: 0px;
        padding-top: 20px;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .opportunities__banner {
        max-width: 440px;
        padding: 0px 0px 15px 0px;
    }
    /*----------------------------------второй блок---------------------------------------*/
    .electronics {
        padding-top: 80px;
    }
    .electronics__card__description {
        max-height: 42px;
    }
    .electronics h1 {
        width: 100%;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .modern-electronics {
        width: 100%;
        padding: 15px;
        column-gap: 10px;
    }    .story__background {
        position: absolute;
        top: -1130px;
        padding: 220px 0;
    }
    /*----------------------------------третий блок---------------------------------------*/
    .video-calls__wrapper-right_icons a {
        transform: scale(0.8);
    }
    .video-calls__wrapper-right h1 {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 10px 0 15px 0px;
    }
    .video-calls__wrapper-right p:first-of-type {
        font-size: 0.7rem;
        line-height: 1rem;
        margin-bottom: 10px;
    }
    .video-calls__wrapper-right p:last-of-type {
        font-size: 0.4rem;
        line-height: 0.75rem;
    }
    .video-calls {
        padding-top: 15px;
    }
    /*----------------------------------4 блок---------------------------------------*/
    .border-before {
        padding-top: 150px;
    }
    .story__wrapper h1 {
        font-size: 2rem;
        line-height: 2.3rem;
        max-height: 130px;
    }
    .story__wrapper p {
        font-size: 0.7rem;
        line-height: 1rem;
        margin-bottom: 15px;
        max-height: 55px;
    }
    .story__wrapper .description p {
        font-size: 0.6rem;
        padding-bottom: 0;
    }
    .story__wrapper a {
        font-size: 0.7rem;
        line-height: 1rem;
    }
}





@media (max-width:768px) {
    #menu__link {
        display: flex;
    }
    #list {
        display: none;
    }
    .menu {
        justify-content: flex-start;
    }
        /*----------------------------------первый блок---------------------------------------*/
    .opportunities__wrapper {
        padding: 0 0px 0px 0px;
        width: 100%;
    }
    .opportunities p {
        padding-bottom: 5px;
    }
    .opportunities__butoons {
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;
    }
    .opportunities a:first-of-type {
        padding: 5px 23px 5px 27px;
    }
    .opportunities a {
        padding-left: 20px;
    }
    .opportunities__banner {
        transform: scale(0.7);
        top: 0;
    }
    .opportunities h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    /*----------------------------------второй блок---------------------------------------*/
    .electronics {
        padding-top: 30px;
    }
    .flex {
        flex: 0 0 32%;
    }
    .electronics__card__wrapper {
        justify-content: center;
    }
    .electronics__card__description {
        max-height: 56px;
        bottom: 60px;
        left: 20px!important;
    }
    .electronics__card__link {
        left: 20px!important;
    }
    .electronics__card__title {
        left: 20px!important;
    }
    .electronics h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 10px 0 20px 0;
    }
    .modern-electronics h2 {
        font-size: 1rem;
    }
    .modern-electronics p {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .modern-electronics a {
        font-size: 0.6rem;
    }
    /*----------------------------------третий блок---------------------------------------*/
    .video-calls__wrapper-right h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .video-calls__wrapper-right {
        padding: 0;
    }
    .video-calls {
        align-items: center;
    }
    /*----------------------------------4 блок---------------------------------------*/
    .story__wrapper h1 {
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .story__wrapper_content {
        width: 100%;
        margin: 0 0 0 19px;
    }
    .border-before {
        padding-top: 65px;
    }
    .story__wrapper p {
        font-size: 0.6rem;
        line-height: 1rem;
    }
    .story__wrapper a {
        font-size: 0.6rem;
    }
    .border-before::before {
        left: -2%;
    }
    .story__wrapper .description p::before {
        left: -2%;
    }
    .story__wrapper a:first-of-type::before {
        left: -2%;
    }
    .story__wrapper a:last-of-type::before {
        left: -2%;
    }
}





@media (max-width:480px) {
    html {
        font-size: 15px;
    }
    .header {
        justify-content: flex-start;
    }
    .header img {
        object-fit: cover;
        width: 40%;
    }
    .menu {
        padding: 10px 0 11px 0;
    }
    #menu {
        top: 5px;
    }
        /*----------------------------------первый блок---------------------------------------*/
    .opportunities h1 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .opportunities__banner img {
        padding: 15px 0px 0 37px;
    }
    /*----------------------------------второй блок---------------------------------------*/
    .flex {
        flex: 0 0 47%;
    }
    /*----------------------------------третий блок---------------------------------------*/
    .video-calls {
        flex-direction: column;
        align-items: center;
    }
    .video-calls__wrapper-left {
        width: 80%;
    }
    .video-calls__wrapper-right {
        width: 100%;
    }
    .video-calls__wrapper-right_icons {
        justify-content: center;
    }
    /*----------------------------------4 блок---------------------------------------*/
    .story__wrapper_content {
        padding: 0 11px 0 0;
    }
}







@media (max-width:320px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    #menu {
        top: 15px;
    }
        /*----------------------------------второй блок---------------------------------------*/

}