@media (max-width: 960px) {
    * p, h1, h2 {
        text-align: center;
    }
    * h1, h2 {
        line-height: 40px!important;
    }
    .header.header {
        margin-bottom: 40px;
    }
    .info__image {
        -webkit-transform: scale(0.7)!important;
            -ms-transform: scale(0.7)!important;
                transform: scale(0.7)!important;
        position: static;
    }
    .info__image img {
        -o-object-fit: cover;
            object-fit: cover;
        width: 100%;
    }
    .info p:first-of-type {
        width: 100%;
    }
    .info.info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-bottom: 0;
    }
    .info h1 {
        margin: -15px 0 10px 0;
        font-size: 2rem;
    }
    .info__buttons {
        justify-content: center;
    }
    .info p:last-of-type {
        text-align: center;
    }
    .nav {
        row-gap: 25px;
        column-gap: 100px;
    }
    .width {
        width: 100%;
    }
    .list {
        position: fixed;
        top: -100%;
    }
    #menu__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .list__header_item a {
        color: #FF6336;
    }
    #close {
        color: #FF6336;
    }
    .companies__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 20px;
        padding: 0 0px 40px 0px;
    }
    .opportunities__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .opportunities__wrapper:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .opportunities__info {
        width: 100%;
        text-align: center;
    }
    .opportunities__info.opportunities__info.opportunities__info h1 {
        margin: 20px 0px 30px 0;
    }
    .opportunities h1 {
        font-size: 2rem;
    }
    .lokalise__card {
        width: 100%!important;
    }
    .lokalise__card_wrapper {
        row-gap: 30px;
    }
    .lokalise.lokalise h1 {
        padding: 20px 0 0px 0;
        font-size: 2rem;
    }
    .boost__card {
        width: 100%;
    }
    .boost.boost h1 {
        text-align: center;
        margin: 40px 0 40px 0;
        font-size: 2rem;
    }
    .boost__card__image {
        margin: 0 auto; 
    }
    .boost__card__title {
        margin: 0 auto;
        max-width: 180px;
    }
    .boost__card__description {
        margin: 0 auto;
    }
    .boost__card__link {
        margin: 0 auto;
        max-width: 110px;
    }
    .wrapper {
        margin-bottom: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .wrapper p:nth-of-type(2) {
        width: 100%;
    }
    .wrapper p:nth-of-type(1) {
        line-height: 30px;
    }
    .updates {
        padding: 20px 0 40px 0;
    }
    .update__image {
        width: 30%;
    }
    .update__image.update__image img {
        -o-object-fit: cover;
            object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .popular__wrapper img {
        -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
                transform: scale(0.7);
    }
    .popular__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        padding: 10px 0;
        align-items: center;
    }
    .wrapper_left::after {
        content: '';
        border-right: 1px solid #00000000;
        height: 0;
    }
    .case-studies {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .case-studies__wrapper_left h1 {
        text-align: center;
        margin: 0;
    }
    .case-studies__wrapper_left img:first-of-type {
        object-fit: cover;
        width: 100%;
        transform: scale(0.9);
        margin-bottom: 0;
    }
    .case-studies__wrapper_left {
        width: 100%;
    }
    .case-studies__wrapper_left img:last-of-type {
        display: block;
        margin: 0 auto 10px;
    }
    .case-studies__wrapper_right {
        width: 100%;
        padding: 40px 0 0 0px;
        row-gap: 40px!important;
    }
    .case-studies__wrapper_right h2 {
        text-align: left;
    }
    .wrapper_right {
        width: 100%;
        padding: 0;
    }
    .wrapper_left {
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrapper_left.wrapper_left h2 {
        padding: 10px 0 0 10px;
    }
    .card {
        width: 50%;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 40%;
                flex: 1 1 40%;
    }
    .card li {
        padding-bottom: 7px;
    }
    .case-studies__wrapper_right {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        row-gap: 50px;
    }
    .integration__image img {
        -o-object-fit: cover;
            object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .opportunities__image img {
        -o-object-fit: cover;
            object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .footer__bottom_wrapper-left {
        width: 100%;
    }
    .footer__bottom {
        row-gap: 20px;
    }
    .companies__title.companies__title h2 {
        padding-top: 40px;
        margin: 0 auto 30px auto;
        font-size: 2rem;
    }
    .boost__card__description p {
        text-align: justify;
    }
    .integration__link {
        max-width: 161px;
        margin: 0 auto;
    }
    .easy-localization__link {
        padding: 30px 0 30px 0!important;
    }
    .easy-localization h1 {
        font-size: 2rem;
    }
    .integration h1 {
        font-size: 2rem;
    }
}
@media (max-width: 1100px) {
    html {
        font-size: 16px!important;
    }
    .header {
        margin: 0;
    }
    .companies__list {
        -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
                column-gap: 20px;
    }
    .integration__link {
        max-width: 163px;
        margin: 0 auto;
    }
    .companies {
        margin-bottom: 0;
    }
    .info {
        margin-bottom: 60px;
    }
    .info__image {
        right: -113px;
    }
    .update__image img {
        width: 213px;
    height: 240px;
    }
    .popular__wrapper {
        margin-bottom: 60px;
    }
    .integration__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .opportunities__info {
        padding-right: 0;
        padding-left: 0;
    }
    .opportunities__info h1 {
        margin: 60px 0 30px 0;
    }
    .opportunities__info.opportunities__info_2 h1 {
        margin: 65px 68px 30px 0;
    }
    .opportunities__info.opportunities__info_3 h1 {
        margin: 70px 0px 30px 0;
    }
    .opportunities__info.opportunities__info_4 h1 {
        margin: 60px 0px 32px 0px;
    }
    .opportunities__image {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
    }
    .container {
        max-width: 1320px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .wrapper_left h2 {
        padding: 35px 0 0 10px;
    }
    .wrapper_right {
        padding: 0 0 0 10px;
    }
    .boost__card_2 {
        padding-left: 0;
    }
    .boost__card_3 {
        padding-left: 5px;
    }
    .opportunities__wrapper {
        margin-bottom: 0;
    }
    .lokalise__card {
        width: 50%;
    }
    .lokalise h1 {
        padding: 45px 0 45px 0;
    }
    .lokalise__card_wrapper {
        padding-bottom: 60px;
    }
    .boost {
        margin-bottom: 60px;
    }
    .boost h1 {
        margin: 60px 0 75px 0;
    }
    .integration {
        margin-bottom: 60px;
    }
    .easy-localization h1 {
        padding: 40px 0 29px 0;
    }
    .easy-localization__link.easy-localization__link {
        margin: 0 auto;
        max-width: 146px;
        padding: 40px 0 40px 0;
    }
    .case-studies {
        padding: 60px 0 30px 0;
    }
    .footer__bottom {
        padding: 30px 0px 30px 0;
    }
}
@media (max-width: 1280px) {
    .html {
        font-size: 18px;
    }
    .wrapper__list {
        left: 0;
    }
    .info__image {
            -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                    transform: scale(0.7);
    }
    .wrapper {
        padding-right: 0px;
    }
    .companies__title h2 {
        margin: 0 auto 66px auto;
    }
    .wrapper_right {
        column-gap: 20px;
    }
    .easy-localization__link {
        max-width: 152px;
        padding: 53px 0 80px 0;
    }
}