body {
    background-color: rgb(96 96 96);
}
a {
    text-decoration: none;
    font-size: 25px;
    color: #b11e1e;
}
.container__sprite {
    background-image: url('../image/asphalt.jpg');
    background-size: auto 100%;
    height: 400px;
    width: 2050px;

    position: absolute;
    top: 25%;
}
.img__sprite {
    background-image: url('../image/run.png');

    height: 127px;
    width: 143px;

    -webkit-animation: play 0.4s steps(16) infinite, step 4s linear infinite;

            animation: play 0.4s steps(16) infinite, step 4s linear infinite;

    position: absolute;
    top: 50%;
    left: 0;
}

@-webkit-keyframes play {
    100% {
        background-position: -2048px;
    }
}

@keyframes play {
    100% {
        background-position: -2048px;
    }
}
@-webkit-keyframes step {
    100% {
        left: 100%;
    }
}
@keyframes step {
    100% {
        left: 100%;
    }
}