* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/*header*/
.header {
    background-color: #E5E5E5;;
    margin-bottom: 20px;
}
.header__wrapper {
    font-size: 0;
    margin-right: 10px;
}
.header__list {
    list-style: none;
    text-align: center;
}
.header__list>li {
    display: inline-block;
    padding: 17px 0 16px 0;
}
.header__list>li>a {
    text-decoration: none;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

    margin-right: 30px;

    color: #333333;
}

/*-------------------Info-------------------*/
.info__wrapper {
    border-bottom: 1px solid #EFEFEF;
}
.logo>h1 {
    margin: 21px 0 40px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;

    color: #F13C6E;
}
.logo>img {
    margin-right: 20px;
}
.tel-btn {
    margin-top: 20px;
}
.tel-btn__btn {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: #FFFFFF;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #000000;

    padding: 10px 53px 9px 53px;
}
.tel-btn>a {
    text-decoration: none;

    margin-right: 40px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.menu__list {
    font-size: 0;
    list-style: none;
    margin: 26px 0 30px 0;
    text-align: center;
}
.menu__list>li {
    display: inline-block;
    margin-right: 40px;
}
.menu__list>li>a {
    text-decoration: none;

    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;

    color: #000000;
}

/*banner*/
.banner {
    background-image: url('../image/banner.png');
    background-position: center;
}
.banner__wrapper {
    padding-bottom: 205px;
}
.banner__wrapper>h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;

    color: #FFFFFF;

    padding: 192px 0 4px 0;
}
.banner__wrapper>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #FFFFFF;

    max-width: 255px;

    padding-bottom: 35px;
}
.banner__wrapper>a {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;

    padding: 10px 65px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

/*Home*/
.home {
    background-color: #E5E5E5;
}
.home__wrapper>h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    padding: 80px 0 37px 0;
}

/*Home__cadr*/
.card__wrapper {
    font-size: 0;
    margin: 0 -2.5% 100px 0;
}
.card {
    max-width: 23%;
    margin-right: 2.5%;
    display: inline-block;
    font-size: 16px;
    background-color: #fff;
    padding: 0 1px 10px 0;
}
.card__img {
    padding: 26px 65px 9px;
}
.card__text>p:nth-of-type(1) {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;

    padding: 6px 0 0 34px;
    max-width: 219px;
}
.card__text>p:nth-of-type(2) {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: center;

    padding-top: 15px;

}
.card__link {
    padding: 21px 0 23px 60px;
}
.card__link>a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: center;

    color: #fff;

    padding: 11px 55px 8px;

    background-color: #F13C6E;
    border-radius: 30px;

    text-decoration: none;
}

/*home__info*/
.home__info {
    padding-bottom: 100px;
}
.subscribe {
    background-color: #F13C6E;
    padding: 35px 41px;
}
.subscribe__info {
    margin-right: 90px;
}
.subscribe__info>h3 {
    padding-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    color: #fff;
}
.subscribe__info>p {
    padding-bottom: 25px;

    max-width: 140px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #fff;
}
.subscribe__info>input {
    border-radius: 30px;
    padding: 8px 34px 8px 23px;
}
.subscribe__info>::-webkit-input-placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    color: #C4C4C4;
}


.our-shops {
    background-color: #F13C6E;
    padding: 35px 41px 45px 41px;
    width: 48.64%;
}
.our-shops__info {
    margin-right: 50px;
}
.our-shops__info>h3 {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 21px;

    color: #fff;
}
.our-shops__info>p {
    margin-bottom: 35px;

    max-width: 130px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: #fff;
}
.our-shops__info>a {
    padding: 7px 50px 7px 50px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;

    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

/*store-map*/
.store-map {
    background-color: #FFFFFF;
}
.store-map a {
    display: block;
    border-bottom: 1px solid #EFEFEF;
    border-right:1px solid #EFEFEF;
}
.group1>a:nth-of-type(1) {
    padding: 33px 0 30px 60px
}
.group1>a:nth-of-type(2) {
    padding: 33px 0 30px 60px
}
.group1>a:nth-of-type(3) {
    padding: 33px 0 30px 60px;
}
.group2>a:nth-of-type(1) {
    padding: 33px 0 30px 62px;
}
.group2>a:nth-of-type(2) {
    padding: 33px 0 30px 62px;
}
.group2>a:nth-of-type(3) {
    padding: 33px 0 30px 62px;
}
.group3>a:nth-of-type(1) {
    padding: 33px 0 30px 64px;
}
.group3>a:nth-of-type(2) {
    padding: 33px 0 30px 64px;
}
.group3>a:nth-of-type(3) {
    padding: 33px 0 30px 64px;
}
.group4>a:nth-of-type(1) {
    padding: 33px 0 30px 66px;
}
.group4>a:nth-of-type(2) {
    padding: 33px 0 30px 66px;
}
.group4>a:nth-of-type(3) {
    padding: 33px 0 30px 66px;
}