* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}
.container_wrapper {
padding: 50px;
}
.b-c_gray {
    background-color: #C4C4C4;
}
.b-c_pink {
    background-color: #FC8F8F;
}
.b-c_light-gray {
    background-color: #E6E6E6;
}
.square-little {
    width: 100px;
    height: 100px;
}
.square {
    width: 200px;
    height: 200px;
}
.text {
    font-size: 64px;
    line-height: 75px;
    text-align: center;

    color: #FFFFFF;

    padding: 63px 0;
}
.text-2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;

    padding: 31px 0 31.5px;
}