* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    background-color: #fbfbfb;
}
/*-----------------------header---------------------*/


.header {
    margin-bottom: 120px;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 15px;
}
.container__wraper {
    font-size: 0;
    margin-right: -75px;
}
.container__wraper img {
    display: inline-block;
    margin-right: 45px;
    vertical-align: bottom;
}
.container__wraper button {
    height: 40px;
    width: 123px;
    padding: 10px 18px 10px 18px;
    background-color: #2CB708;
    border-radius: 5px;

    display: inline;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: center;

    color: #fff;

    margin-right: 45px;
}
.container__wraper form {
    display: inline-block;
}
.container__wraper form input {
    border: 1px solid #2CB708;
    background-color: #fff;

    height: 40px;
    width: 419px;
    border-radius: 10px;
    margin-right: 45px;
}



/*-----------------------main---------------------*/
.advertising {
    margin-bottom: 100px;
}




.wrapper__card {
    font-size: 0;
    margin: -2.5%;
    margin-bottom: 80px;
}
.card {
    display: inline-block;
    max-width: 20%;
    margin: 0 2.5% 19px;

    background-color: #FCFFFC;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    padding: 33px 20px 32px;
}
.card img {
    width: 100%;
}
.card a {
    display: block;
    text-align: center;
    line-height: 19px;

    color: #333232;
    text-decoration: none;
}



.popular-technique__card {
    display: inline-block;
}
.popular-technique h1 {
font-size: 30px;
font-weight: 500;
line-height: 35px;
text-align: left;
color: #333232;
}

.wrapper {
    font-size: 0;
    margin: 0 -0.5%;
}
.popular-technique__card {
    max-width: 19%;
    margin: 50px 0.5%;
}
.display {
    display: block;
}
.price {
font-size: 18px;
font-weight: 700;
line-height: 21px;
text-align: left;

}
.card__img img {
    width: 100%;
}
.title {
line-height: 19px;
text-align: left;
}
.card__title {
    margin-bottom: 39px;
}
.card__title a {
    text-decoration: none;
}
.popular-technique__btn {
    width: 145px;
    height: 40px;
    background: #2CB708;
    border-radius: 10px;
    
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #fff;
}