/*swiper*/
.swiper {
    width: 50%;
    height: 50%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: aliceblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.swiper-slide img {
    width: 58%;
    -o-object-fit: cover;
    object-fit: cover;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 140px !important;
    left: auto;
    top: 25% !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 140px !important;
    right: auto;
    top: 25% !important;
}


/*owl-carousel*/
.owl-carousel {
    margin-top: 20px;
}

/*slick*/
.slick-slider {
    margin-top: 20px;
}

.slick-slide img {
    width: 100%;
}

.grid-item {
    width: 200px;
    margin-bottom: 20px;
}

.grid-item--width2 {
    width: 400px;
}

.grid-item img {
    width: 100%;
}

.object-fit img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 33%;
    height: auto;
}


/*zoom*/
.zoom,
.original {

    position: relative;
}

.zoom {
    display: inline-block;
}

.original {
    cursor: crosshair;
}

#target {
    width: calc(var(--t) /2);
}

.zoom .viewer {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoom .viewer img {
    position: absolute;
}

.original:hover~div {
    display: block;
}

.original::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.magnifier {
    position: absolute;
    background: rgba(0, 0, 0, 0.689);
    opacity: 0.7;
    top: 0;
    left: 0;
}

.magnifier,
.viewer {
    display: none;
}

/*nav*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    margin-bottom: 20px;
}

.nav a {
    color: #2b1356;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #2b1356;
    border-radius: 8px;
    background: aquamarine;
}

.nav__home {
    margin-top: 40vh;
    width: 100vw;
}
.zoomArea {
    margin-top:  30px;
}