.header
    background-color: #292E36
    &__info
        @include flex
        align-items: center
        justify-content: space-between
        &_tel
            border: 2px solid #E1B168
            padding: 20px 57px
            a
                font-size: 2.2rem
                line-height: 3.3rem
                letter-spacing: 0.02rem
                text-align: center
                color: #FFF

        &_reservation
            border: 2px solid #E1B168
            padding: 20px 85px
            background-color: #E1B168
            a
                font-size: 2.2rem
                line-height: 3.3rem
                letter-spacing: 0.04rem
                text-align: center
                color: #292E36
        &_logo
            img
                width: 380px

    &__nav
        position: relative
        &::after
            content: ''
            border: 1.5px solid #5C6168
            width: 100%
            position: absolute
            top: 0
        @include flex
        align-items: center
        justify-content: space-between
        &_left
            ul
                @include flex
                column-gap: 60px
                li
                    padding: 26px 0
                    a
                        font-size: 2rem
                        line-height: 3rem
                        letter-spacing: 0.02rem
                        text-align: left
                        color: #fff
        &_right
            @include flex
            justify-content: flex-end
            column-gap: 20px
            a
                &:hover
                    transform: scale(1.5)
