@charset "UTF-8"

@import "components/zero.sass"
.mb-key1
    margin-bottom: 15px
.mb-key2
    margin-bottom: 30px
.mb-key3
    margin: b 60px
.container
    max-width: 1630px
    margin: 0 auto
    padding: 0 15px
@import "components/header"
